@import url('https://fonts.googleapis.com/css2?family=Fira+Code&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    background-color: #EBEBEB;
    font-family: "Fira Code", sans-serif;
    font-weight: 500;
    color: #000000;
}

a {
  font-weight: bold;
  color: red;
  text-decoration: none;
}

a:hover {
  border-bottom: 2px solid red;
}

h2 {
  text-transform: uppercase;
  letter-spacing: 4px;
  font-size: 175%;
  justify-content: center;
  display: flex;
  padding-top: 55px;
}

/* Navigation */

.logo {
  padding-top: 3px;
  padding-left: 10px;
}

.navbar-container {
  top: 0;
  left: 0;
  margin: auto;
  width: 100%;
  position: fixed;
}

.navbar {
  background-color: #000000;
  padding-right: 10px;
  margin-right: 0;
  display: flex;
  justify-content: space-between;
}

.menu {
  display: flex;
  align-items: center;
}

.menu ul {
  background-color: #000000;
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 15px;
}

.menu li {
  color: red;
  background-color: #000000;
  font-size: 18px;
  font-weight: bold;
  margin-right: 5px;
  margin-left: 20px;
  padding: 10px;
}

/* Home */

h1 {
  font-size: 185%;
  text-align: center;
  margin-top: 45px;
  margin-left: 15px;
}

#home-image-and-text {
  display: flex;
}

#elliot-image {
  height: 642px;
  width: 601px;
  padding-top: 53px;
}

#home-text {
  padding-top: 53px;
}

#home-main-text-1 {
  font-size: 350%;
  text-transform: uppercase;
  letter-spacing: 4px;
  margin-top: 85px;
}

#home-main-text-2 {
  font-style: italic;
  letter-spacing: 4px;
  margin-top: 0;
}

#home-paragraph-text {
  font-size: 140%;
  text-align: center;
  margin-top: 50px;
}

#dark-mode-toggle-switch {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  margin-right: 16px;
  margin-left: 16px;
}

/* Dark mode toggle switch */

.checkbox {
  position: absolute;
  opacity: 0;
}

.slider-container {
  height: 17px;
  width: 30px;
  border-radius: 50px;
  background-color: red;
  display: flex;
  transform: scale(1.5);
}

.slider {
  width: 12px;
  height: 12px;
  background-color: #000000;
  position: absolute;
  top: 2px;
  left: 2px;
  border-radius: 50%;
  transition: transform 0.2s linear;
}

.checkbox:checked + .slider-container .slider {
  transform: translateX(14px);
}

/* Dark mode */

body.dark-mode {
  background-color: #000000;
  color: #FFFFFF; opacity: 0.87;
}

#final-test {
  margin-top: 40px;
  margin-bottom: 75px;
}

/* Education */

.table {
  margin-left: auto;
  margin-right: auto;
}

/* Footer */

.footer-container {
  width: 100%;
  bottom: 0;
  position: fixed;
}

.footer {
  background-color: #000000;
  justify-content: space-between;
  display: flex;
}

.social-media-icons ul {
  display: flex;
  list-style-type: none;
}

.social-media-icons li {
  font-size: 20px;
  margin-left: 160px;
}

.copyright-notice {
  font-weight: bold;
  color: red;
  margin-right: 7px;
  padding: 2px;
}