@import url('https://fonts.googleapis.com/css2?family=Fira+Code&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    background-color: #EBEBEB;
    font-family: "Fira Code", sans-serif;
    font-weight: 500;
    color: #000000;
}

h2 {
  text-transform: uppercase;
  letter-spacing: 4px;
  font-size: 175%;
  justify-content: center;
  display: flex;
  padding-top: 55px;
}

/* Navigation */

a {
  color: #b70007;
  text-decoration: none;
}

#menu a:hover {
  border-bottom: 2px solid #b70007;
}

.navbar-container {
  top: 0;
  left: 0;
  margin: auto;
  width: 100%;
  position: fixed;
}

.navbar {
  background-color: #000000;
  padding-right: 10px;
  margin-right: 0;
  display: flex;
  justify-content: space-between;
}

.logo {
  padding-top: 3px;
  padding-left: 10px;
}

.menu {
  display: flex;
  align-items: center;
}

.menu ul {
  background-color: #000000;
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 15px;
}

.menu li {
  color: #b70007;
  background-color: #000000;
  font-size: 18px;
  font-weight: bold;
  margin-right: 5px;
  margin-left: 20px;
  padding: 10px;
}

/* Home */

#elliot-image {
  padding-top: 53px;
  height: 580px;
}

/* Dark mode */

body.dark-mode {
    background-color: #000000;
    color: #FFFFFF; opacity: 0.87;
  }

/* Dark mode toggle switch */

.checkbox {
    position: absolute;
    opacity: 0;
  }

.slider-container {
    height: 17px;
    width: 30px;
    border-radius: 50px;
    background-color: #b70007;
    display: flex;
    transform: scale(1.5);
  }

.slider {
    width: 12px;
    height: 12px;
    background-color: #000000;
    position: absolute;
    top: 2px;
    left: 2px;
    border-radius: 50%;
    transition: transform 0.2s linear;
  }

.checkbox:checked + .slider-container .slider {
    transform: translateX(14px);
  }